@import "tailwindcss";
@import "tw-animate-css";

/* tailwind plugins */
@plugin "@tailwindcss/forms";

/* dark mode (not used for dawnlight) */
@variant dark (&:where(.dark, .dark *));

/* theme definition import */
@import "./tailwind-theme.css";

/* other imports into specific layers */
@import "./aos.css" layer(utilities);
@import "./markdown-content.css" layer(components);
@import "./buttons.css" layer(components);

/* https://tailwindcss.com/docs/adding-custom-styles#using-css-and-layer */
@layer base {
	:root {
		/* starwind component variables  */
		--background: var(--color-base-50);
		--foreground: var(--color-base-900);
		--card: var(--color-base-50);
		--card-foreground: var(--color-base-950);
		--popover: var(--color-base-50);
		--popover-foreground: var(--color-base-950);
		--primary: var(--color-primary-300);
		--primary-dark: var(--color-primary-500);
		--primary-foreground: var(--color-base-950);
		--secondary: var(--foreground);
		--secondary-foreground: var(--background);
		--muted: var(--color-base-100);
		--muted-foreground: var(--color-base-600);
		--accent: var(--color-base-200);
		--accent-foreground: var(--color-base-900);
		--info: var(--color-sky-300);
		--info-foreground: var(--color-sky-950);
		--success: var(--color-green-300);
		--success-foreground: var(--color-green-950);
		--warning: var(--color-amber-300);
		--warning-foreground: var(--color-amber-950);
		--error: var(--color-red-700);
		--error-foreground: var(--color-base-50);
		--border: var(--color-base-200);
		--input: var(--color-base-200);
		--outline: var(--color-primary-500);

		--radius: 0.5rem;

		/* default font */
		font-family: var(--font-sans);
	}

	/* starwind preflight merged with Cosmic Themes */
	* {
		@apply border-border;
	}
	*:focus-visible {
		@apply outline-outline;
	}
	html {
		@apply bg-background text-foreground leading-[1.6rem] scheme-light;
		scroll-behavior: smooth;
		-moz-text-size-adjust: none;
		-webkit-text-size-adjust: none;
		text-size-adjust: none;
	}
	button {
		@apply cursor-pointer;
	}
}

@layer components {
	.h1 {
		@apply font-serif text-3xl font-light md:text-4xl;
	}

	.h2 {
		@apply font-serif text-2xl font-light md:text-3xl;
	}

	.h3 {
		@apply font-serif text-lg font-light md:text-xl;
	}

	.description {
		@apply text-base-700;
	}

	.site-container {
		@apply mx-auto max-w-7xl px-4;
	}

	/* used for newsletter, and contact form inputs */
	.form__input {
		@apply border-primary-100 bg-base-50 w-full rounded-xs border p-3 transition duration-300;
		@apply outline-0;
		@apply focus-visible:border-primary-400 focus-visible:ring-primary-400 focus-visible:ring-2;
	}

	/* styles navbar links */
	.nav__link--base {
		@apply hover:text-primary-500 font-light transition-colors duration-300;
	}
}

@layer utilities {
	/* focus utility class (for when user is tabbing through items on page) */
	.primary-focus {
		@apply focus-visible:ring-primary-400 focus:outline-hidden focus-visible:rounded-xs focus-visible:ring-2;
	}

	.rotate-180 {
		@apply rotate-180;
	}

	/* used with select field */
	.sr-only {
		@apply sr-only;
	}
}
