/**
 * * Tailwind theme settings
 * 
 * These are in a separate file so it can be imported into <style> tags in .astro components
 */
@theme {
	/* primary colors. Can generate with https://uicolors.app/create, then convert to oklch with https://oklch.com/ */
	--color-primary-50: oklch(97.14% 0.0108 256.69);
	--color-primary-100: oklch(93.55% 0.0241 253.95);
	--color-primary-200: oklch(88.91% 0.0418 251.65);
	--color-primary-300: oklch(84.22% 0.0606 250.07);
	--color-primary-400: oklch(72.21% 0.1075 252.66);
	--color-primary-500: oklch(63.46% 0.1416 258.52);
	--color-primary-600: oklch(55.79% 0.163 262.93);
	--color-primary-700: oklch(50.19% 0.1661 265.12);
	--color-primary-800: oklch(43.92% 0.1373 266.91);
	--color-primary-900: oklch(39.08% 0.1051 266.46);
	--color-primary-950: oklch(29.36% 0.0639 268.73);

	/* base colors */
	--color-base-50: var(--color-gray-50);
	--color-base-100: var(--color-gray-100);
	--color-base-200: var(--color-gray-200);
	--color-base-300: var(--color-gray-300);
	--color-base-400: var(--color-gray-400);
	--color-base-500: var(--color-gray-500);
	--color-base-600: var(--color-gray-600);
	--color-base-700: var(--color-gray-700);
	--color-base-800: var(--color-gray-800);
	--color-base-900: var(--color-gray-900);
	--color-base-950: var(--color-gray-950);

	/* other colors */
	--color-accent: oklch(93.09% 0.012 17.37);

	/* other theme settings */
	--button-transition-properties:
		box-shadow, color, background-color, border-color, text-decoration-color, fill, stroke;

	/* layout settings */
	--breakpoint-xs: 400px;
	--breakpoint-sm: 640px;
	--breakpoint-md: 768px;
	--breakpoint-lg: 1024px;
	--breakpoint-xl: 1280px;
	--breakpoint-2xl: 1536px;

	/* font families */
	--font-fallback:
		"-apple-system", "BlinkMacSystemFont", "Segoe UI", "Roboto", "Helvetica", "Arial", "sans-serif",
		"Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
	--font-sans: "Poppins", var(--font-fallback);
	--font-serif:
		"ui-serif", "Georgia", "Cambria", "Times New Roman", "Times", "serif", "Apple Color Emoji",
		"Segoe UI Emoji", "Segoe UI Symbol";
	--font-mono:
		"SFMono-Regular", "Menlo", "Monaco", "Consolas", "Liberation Mono", "Courier New", "monospace";
	--font-handwriting: "Corinthia", "cursive";

	/* starwind and cosmic themes animations */
	--animate-accordion-down: accordion-down 0.3s ease-out;
	--animate-accordion-up: accordion-up 0.3s ease-out;
	--animate-marquee: marquee 100s linear infinite;

	@keyframes accordion-down {
		from {
			height: 0;
		}
		to {
			height: var(--starwind-accordion-content-height);
		}
	}

	@keyframes accordion-up {
		from {
			height: var(--starwind-accordion-content-height);
		}
		to {
			height: 0;
		}
	}

	@keyframes marquee {
		from {
			transform: translateX(0);
		}
		to {
			transform: translateX(calc(-100% - 2.5rem));
		}
	}
}

/* "inline" option is necessary here https://github.com/tailwindlabs/tailwindcss/discussions/15122#discussioncomment-11356322 */
@theme inline {
	/* starwind utilities setup */
	--color-background: var(--background);
	--color-foreground: var(--foreground);
	--color-card: var(--card);
	--color-card-foreground: var(--card-foreground);
	--color-popover: var(--popover);
	--color-popover-foreground: var(--popover-foreground);
	--color-primary: var(--primary);
	--color-primary-dark: var(--primary-dark);
	--color-primary-foreground: var(--primary-foreground);
	--color-secondary: var(--secondary);
	--color-secondary-foreground: var(--secondary-foreground);
	--color-muted: var(--muted);
	--color-muted-foreground: var(--muted-foreground);
	/* --color-accent: var(--accent); */
	--color-accent-foreground: var(--accent-foreground);
	--color-info: var(--info);
	--color-info-foreground: var(--info-foreground);
	--color-success: var(--success);
	--color-success-foreground: var(--success-foreground);
	--color-warning: var(--warning);
	--color-warning-foreground: var(--warning-foreground);
	--color-error: var(--error);
	--color-error-foreground: var(--error-foreground);
	--color-border: var(--border);
	--color-input: var(--input);
	--color-outline: var(--outline);

	--radius-xs: calc(var(--radius) - 0.375rem);
	--radius-sm: calc(var(--radius) - 0.25rem);
	--radius-md: calc(var(--radius) - 0.125rem);
	--radius-lg: var(--radius);
	--radius-xl: calc(var(--radius) + 0.25rem);
	--radius-2xl: calc(var(--radius) + 0.5rem);
	--radius-3xl: calc(var(--radius) + 1rem);
}
