---
/**
 * * Sidebar card for the site author
 * Make sure to update the siteData.json file with the appropriate author slug!
 */
import BaseCard from "@components/SidebarCards/BaseCard.astro";
import { Image } from "astro:assets";
import { type CollectionEntry, getCollection, getEntry } from "astro:content";

interface Props {
	class?: string; // classes for the form
	rest?: any; // catch-all for any additional parameters, such as "aria-label"
}

import { getLocaleFromUrl } from "@js/localeUtils";
import { getTranslatedData } from "@js/translationUtils";

const currLocale = getLocaleFromUrl(Astro.url);
const siteData = getTranslatedData("siteData", currLocale);

const { class: className, ...rest } = Astro.props as Props;

const author = await getEntry("authors", siteData.author.slug);
---

{
	author && (
		<BaseCard class={className} {...rest}>
			<div class="aspect-square overflow-hidden rounded-full">
				<Image src={author.data.avatar} class="max-w-full" alt="hero" loading="eager" width={600} />
			</div>
			<h3 class="font-handwriting text-5xl">Hi, I'm {author.data.name}</h3>
			<p class="text-pretty">{author.data.about}</p>
		</BaseCard>
	)
}
