---
import NewsletterForm from "@components/Forms/NewsletterForm.astro";
import BaseCard from "@components/SidebarCards/BaseCard.astro";
---

<BaseCard>
	<h3 class="font-sans text-sm font-light uppercase">The Inside Scoop</h3>
	<p class="text-sm">Be the first to know about new posts and exclusive content.</p>
	<NewsletterForm name="sidebar" class="xs:flex-col" />
</BaseCard>
