---
import { Icon } from "astro-icon/components";

interface Props {
	variant: "tip" | "caution" | "danger" | "info";
}

const { variant } = Astro.props as Props;

// create a switch statement that switches on "variant" and returns the appropriate icon
const icon = (() => {
	switch (variant) {
		case "tip":
			return "tabler/bulb";
		case "caution":
			return "tabler/alert-triangle";
		case "danger":
			return "tabler/flame";
		case "info":
			return "tabler/info-circle";
	}
})();
---

<div
	class:list={[
		"admonition my-3 rounded-xs border-l-4 px-4 py-3",
		{
			"border-success bg-success/10 text-success-content admonition-success": variant === "tip",
		},
		{
			"border-warning bg-warning/10 text-warning-content admonition-warning": variant === "caution",
		},
		{
			"border-error bg-error/10 text-error-content admonition-danger": variant === "danger",
		},
		{
			"border-info bg-info/10 text-info-content admonition-info": variant === "info",
		},
	]}
>
	<div class="not-content flex items-center gap-2 pb-2">
		<Icon name={icon} class="size-6" aria-hidden="true" />
		<p class="text-sm font-medium">{variant.toUpperCase()}</p>
	</div>
	<slot />
</div>

<style is:global>
	@import "tailwindcss/theme" theme(reference);
	@import "@/styles/tailwind-theme.css" theme(reference);

	.admonition > :first-child {
		@apply mt-0;
	}
	.admonition > :nth-child(2) {
		@apply mt-0;
	}
	.admonition > :last-child {
		@apply mb-0;
	}
	.admonition-success code {
		@apply bg-success/20 border-none px-0.5;
	}
	.admonition-info code {
		@apply bg-info/20 border-none px-0.5;
	}
	.admonition-warning code {
		@apply bg-warning/20 border-none px-0.5;
	}
	.admonition-error code {
		@apply bg-error/20 border-none px-0.5;
	}
</style>
