---
/**
 * * Language select dropdown component
 * Uses info and utilities from src/js/i18nUtils.ts. Make sure this is updated with the languages you are using (to match the Astro config file)
 * Multiple dropdowns can be used on the same page
 */
import { languageSwitcherMap, locales } from "@config/siteSettings.json";
import { getLocaleFromUrl } from "@js/localeUtils";
import { getLocalizedPathname } from "@js/translationUtils";
import { Icon } from "astro-icon/components";

interface Props {
	class?: string; // any additional classes
	rest?: any; // catch-all for any additional parameters, such as "aria-label"
}

const { class: className, ...rest } = Astro.props as Props;

const currLocale = getLocaleFromUrl(Astro.url);

// Precompute the localized paths for each locale (since getLocalizedPathname is async)
const localizedPaths = Object.fromEntries(
	await Promise.all(
		locales.map(async (lang) => [lang, await getLocalizedPathname(lang, Astro.url)]),
	),
);
---

<div
	class:list={[
		"lang-select__dropdown description group relative flex items-center text-sm",
		className,
	]}
	{...rest}
>
	<button
		class="primary-focus lang-select__dropdown-button hover:text-primary-500 flex items-center gap-0.5 py-2 font-light whitespace-nowrap transition duration-300 md:flex"
		type="button"
		aria-expanded="false"
		aria-haspopup="true"
		aria-controls="lang-select__dropdown-content"
	>
		<span class="sr-only">Change language</span>
		<Icon
			name="tabler/language"
			aria-hidden="true"
			class="size-3.5 shrink-0 transition-transform"
		/>
		{languageSwitcherMap[currLocale]}
		<Icon
			name="tabler/chevron-down"
			aria-hidden="true"
			class="lang-select__dropdown-chevron ml-auto size-4 shrink-0 transition-transform"
		/>
	</button>
	<div
		id="lang-select__dropdown-content"
		aria-labelledby="lang-select"
		class="lang-select__dropdown-content invisible absolute top-full z-10 mt-2 w-full opacity-0 transition-all duration-300"
	>
		<ul
			class="border-primary-400/50 bg-base-100 mx-auto mt-0 w-fit max-w-xs rounded-xs border border-solid py-1.5 whitespace-nowrap drop-shadow-md"
		>
			{
				locales.map((lang) => (
					<li class="flex w-full justify-center">
						<a
							data-astro-reload
							class="primary-focus hover:text-primary-500 relative block w-full px-3 py-1 font-light whitespace-nowrap transition duration-300"
							href={localizedPaths[lang]}
							aria-label={`Change language to ${lang.toUpperCase()}`}
						>
							{languageSwitcherMap[lang]}
						</a>
					</li>
				))
			}
		</ul>
	</div>
</div>

<script>
	function dropdownToggleSetup() {
		const langSelects = document.querySelectorAll(".lang-select__dropdown");
		langSelects.forEach((langSelect) => {
			const dropdownButton = langSelect.querySelector(".lang-select__dropdown-button");
			const dropdownChevron = langSelect.querySelector(".lang-select__dropdown-chevron");
			const dropdownContent = langSelect.querySelector(".lang-select__dropdown-content");
			if (dropdownButton && dropdownContent && dropdownChevron) {
				dropdownButton.addEventListener("click", (event) => {
					if (!langSelect.classList.contains("active")) {
						// if dropdown is currently closed, so open it
						langSelect.classList.add("active");
						dropdownButton.setAttribute("aria-expanded", "true");
						dropdownContent.classList.add("dropdown--fade-in");
						dropdownChevron.classList.add("rotate-180");
					} else {
						// dropdown is currently open, so close it
						langSelect.classList.remove("active");
						dropdownButton.setAttribute("aria-expanded", "false");
						dropdownContent.classList.remove("dropdown--fade-in");
						dropdownChevron.classList.remove("rotate-180");
					}
					event.preventDefault();
					return false;
				});

				// if dropdown menu is open there is a click outside, close the menu
				document.addEventListener("click", (event) => {
					if (
						!langSelect?.contains(event.target as Node) &&
						langSelect?.classList.contains("active")
					) {
						langSelect.classList.remove("active");
						dropdownButton.setAttribute("aria-expanded", "false");
						dropdownContent.classList.remove("dropdown--fade-in");
						dropdownChevron.classList.remove("rotate-180");
					}
				});
			}
		});
	}

	// runs on initial page load
	dropdownToggleSetup();

	// runs on view transitions navigation
	document.addEventListener("astro:after-swap", dropdownToggleSetup);
</script>

<style>
	.dropdown--fade-in {
		/* same animation as navDropdown.astro */
		animation: navDropdownFadeInAnimation ease-out 0.3s forwards;
		visibility: visible;
		opacity: 1;
	}

	/* @keyframes navDropdownFadeInAnimation {
		0% {
			top: 110%;
		}
		100% {
			top: 100%;
		}
	} */
</style>
