---
/**
 * * Simple newsletter form component. Used in `src/components/Cta/NewsletterSmall.astro`.
 */

import Button from "@components/Button/Button.astro";

interface Props {
	name: string; // name for your form, like "hero-newsletter". It is used for the various id's
	class?: string; // classes for the form
	rest?: any; // catch-all for any additional parameters, such as "aria-label"
}

const { name, class: classList, ...rest } = Astro.props as Props;
---

<form
	id={`${name}-form`}
	name={`${name}-form`}
	class:list={["xs:flex-row mt-4 flex flex-col gap-3", classList]}
	{...rest}
>
	<label for={`${name}-email`} class="description text-base-100 sr-only mb-1">*Email</label>
	<input
		type="email"
		class="form__input"
		name="email"
		id={`${name}-email`}
		inputmode="email"
		placeholder="Email"
		required
	/>
	<Button variant="primary" type="submit" class="text-nowrap">Sign me up!</Button>
</form>
